.cabecalho {
    background-color: rgb(255, 196, 0);
    border-bottom: 3px solid rgb(170, 130, 0);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    display: flex;
}