/* .cabecalho {
    background-color: rgb(255, 196, 0);
    border-bottom: 3px solid rgb(170, 130, 0);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    display: flex;
    } */
    
    * {
        transition: .5s;
        top: 0;
        left: 0;
    }
    
    header {
        background-color: rgba(27, 27, 27, 0.774);
        height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

header.abrMenu {
    max-width: 70%;
    width: 400px;
}

header nav ul {
    list-style: none;
    text-align: left;
}

header .btnfechar,.btnabrir {
    cursor: pointer;
}

header .btnabrir svg {
    color: #000;
}

header .btnfechar svg{
    color: rgb(255, 196, 0);
}

header .btnfechar:hover svg,.btnabrir:hover svg{
    transform: scale(1.5);
}

header .btnfechar {
    padding: 20px 5%;
    text-align: right;
}

.hamburguer {
    position: fixed;
    top: 0;
    height: 73px;
    background-color: rgb(255, 196, 0);
}

.btnabrir {
    padding: 20px 20px;
    text-align: left;
}

.escMenu {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

hr {
    width: 100vw;
}

.espacoV {
    height: 90px;
    width: 100vh;
}

.navItem {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
    list-style: none;
    text-align: left;
}

.navItem:hover {
    background-color: rgb(255, 196, 0);
    transform: scale(1.2);
}

.activeLink {
    color: rgb(255, 196, 0);;
    list-style: none;
    text-align: left;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
    list-style: none;
    text-align: left;
    background-color: rgb(109, 65, 0);
}